<!-- redact_form.html -->
{% extends 'base.html' %}
{% load static %}

{% block redact %}
<div id="home" class="intro">
    <div class="card">
            {% if file %}

            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#">{{ file.name }}</a></li>
                </ul>
            </div>
            {% else %}
            <p>No files uploaded....</p>
            {% endif %}
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input id="formatted-display" class="form-check-input" type="radio" name="display-type" value="formatted">
                                <label class="form-check-label" for="formatted-display">Форматированное отображение</label>
                            </div>
                            <div class="form-check">
                                <input id="field-display" class="form-check-input" type="radio" name="display-type" value="fields">
                                <label class="form-check-label" for="field-display">Отображение в виде полей</label>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col">
                            <div class="row">
                                <div class="col-md-6" id="fields_doc">
                                    {{ name }}
                                </div>
                                <div class="col-md-6" id="pdf_doc">
                                    <p>Загруженные файлы:</p>
                                    <ul id="uploadedFilesList"></ul>
                                    <div id="pdf-container" style="border: 1px solid #ccc; width: 100%; height: 600px; overflow: auto;">
                                        <canvas id="pdf-render" style="width: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="row">
                                <div class="col-md-6" id="fields_doc">
                                    {{ name }}
                                </div>
                                <div class="col-md-6" id="pdf_doc">
                                    <p>Загруженные файлы:</p>
                                    <ul id="uploadedFilesList"></ul>
                                    <div id="pdf-container" style="border: 1px solid #ccc; width: 100%; height: 600px; overflow: auto;">
                                        <canvas id="pdf-render" style="width: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                <button class="btn btn-primary" type="button">Сохранить данные</button>
                <button class="btn btn-primary" type="button" disabled>Заполнить автоматически</button>
                <button class="btn btn-primary" type="button">Скачать результат</button>
                
            </div>
        </div>
  
    </div>
    <!-- end intro 2 -->

    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script>
        // Функция для обновления списка загруженных файлов при выборе файлов
        function updateUploadedFilesList(input) {
            var fileList = document.getElementById('uploadedFilesList');
            fileList.innerHTML = ''; // Очищаем список файлов перед обновлением

            for (var i = 0; i < input.files.length; i++) {
                var listItem = document.createElement('li');
                listItem.textContent = input.files[i].name;
                fileList.appendChild(listItem);
                displayPDF(input.files[i]);
            }

            // Обновляем скрытое поле с именами загруженных файлов
            document.getElementById('uploadedFiles').value = JSON.stringify(Array.from(input.files).map(file => file.name));
        }

        // Функция для отображения PDF файла
        async function displayPDF(file) {
            const pdfjsLib = window['pdfjs-dist/build/pdf'];
            const reader = new FileReader();

            reader.onload = function(event) {
                const pdfData = new Uint8Array(event.target.result);
                renderPDF(pdfData);
            };

            reader.readAsArrayBuffer(file);
        }

        async function renderPDF(pdfData) {
            const loadingTask = pdfjsLib.getDocument({data: pdfData});
            const pdf = await loadingTask.promise;

            const page = await pdf.getPage(1);
            const viewport = page.getViewport({scale: 1.5});
            const canvas = document.getElementById("pdf-render");
            const context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            const renderContext = {
                canvasContext: context,
                viewport: viewport
            };

            page.render(renderContext);
        }
    </script>

{% endblock %}