<!-- profile/user_uploads.html -->

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
            <table class="table table-bordered table-striped">
                <thead class="table-info">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Login</th>
                        <th scope="col">Документ</th>
                        <th scope="col">Дата добавления</th>
                        <th scope="col">XML схема</th>
                        <th scope="col">статус XML разметки</th>
                        <th scope="col">Редактирование</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in uploaded_files %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ file.name }}</td>
                        <td>{{ file.uploaded_at }}</td>
                        <td>{{ file.xml }}</td>
                        <td>{{ file.xml_status }}</td>
                        <td>
                            <a href="{% url 'edit_file' file.id %}" class="btn btn-primary btn-sm">Редактировать</a>
                            <button class="btn btn-danger btn-sm delete-file-btn" data-file-id="{{ file.id }}">Удалить</button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">No files uploaded yet</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>




<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.delete-file-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            const fileId = this.getAttribute('data-file-id');
            const csrfToken = '{{ csrf_token }}'; // Получение CSRF токена

            if (confirm('Вы уверены, что хотите удалить этот файл?')) {
                fetch(`/delete_file/${fileId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,  // Добавление CSRF токена в заголовок
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById(`file-${fileId}`).remove();
                    } else {
                        alert('Ошибка при удалении файла');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Ошибка при удалении файла');
                });
            }
        });
    });
});
</script>

{% endblock %}